.convertkit-form__alert {
  @include _background-color(gray, 200);
  border: 0.0625em solid _color(gray, 400);
  border-radius: 0.4em;
  flex: 1 0 auto;
  list-style: none;
  margin: 2.4em 0;
  padding: 1.2em 1em;
  text-align: center;
  width: 100%;
}

.convertkit-form__alert li {
  @include _font-size(16, short);
}

.convertkit-form__alert:empty {
  display: none;
}

.convertkit-form__alert.convertkit-form__alert--error {
  @include _background-color(red, 100);
  @include _border-color(red, 200);
  @include _color(red, 500);
}

.convertkit-form__disclaimer {
  @include _color(gray, 600);
  @include _font-size(14, medium);
  font-style: italic;
  margin: 0;
}

.convertkit-form__fields {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.convertkit-form__form {
  margin-bottom: 0.6em;
}

.convertkit-form__input[type="email"] {
  flex-grow: 1;
  width: 1px;
}

.convertkit-form__submit {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.formkit-alert.formkit-alert-success {
  @include _background-color(green, 100);
  border: 1px solid _color(green, 200);
  border-radius: 4px;
  @include _color(green, 500);
  @include _font-size(16, short);
  flex: 1 0 auto;
  list-style: none;
  margin: 1.6em 0; /* 24px 0 */
  padding: 0.8em 10px; /* 12px 10px */
  text-align: center;
  width: 100%;
}
