// .course-teaser {
//   @include _background-color(white);
//   border-radius: 0.6em;
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

// .course-teaser__content {
//   flex-grow: 1;
//   padding: 1.2em 1.5em;
// }

// .course-teaser__excerpt {
//   @include _font-size(16, medium);
//   margin: 0;
// }

.course-teaser__footer {
  // @include _background-color(gray, 100);
  border-radius: 0 0 0.6em 0.6em;
  // @include _color(gray, 600);
  // display: flex;
  // flex-wrap: wrap;
  font-weight: 400;
  // padding: 1.2em 1.5em;
}

// .course-teaser__heading {
//   @include _font-size(16, short);
//   margin: 0 0 0.375em; /* 0 0 6px */
// }

.course-teaser__meta {
  display: inline-block;
  @include _font-size(12, medium);
  padding: 3px 0 3px 28px;
  position: relative;
}

.course-teaser__meta:not(:last-of-type) {
  margin-right: 21px;
}

.course-teaser__meta::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  font-size: 1rem;
  height: 2.4em;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.4em;
}

.course-teaser__meta.course-teaser__meta--emails::before {
  background-image: url('/assets/icons/email-with-letter.svg');
}

.course-teaser__meta.course-teaser__meta--hours::before {
  background-image: url('/assets/icons/clock.svg');
}

.course-teaser__meta.course-teaser__meta--videos::before {
  background-image: url('/assets/icons/video.svg');
}

.course-teaser__meta.course-teaser__meta--weeks::before {
  background-image: url('/assets/icons/calendar.svg');
}
