.course-teasers {
  display: grid;
  grid-row-gap: 2.4em;
  grid-template-columns: 1fr;

  @include _s {
    grid-row-gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
  }

  @include _m {
    grid-row-gap: 2.1em;
    grid-template-columns: repeat(3, 1fr);
  }

  @include _xl {
    grid-template-columns: repeat(4, 1fr);
  }
}
