.course-teaser__meta {
  display: inline-block;
  @include _font-size(12, medium);
  padding: 3px 0 3px 28px;
  position: relative;
}

.course-teaser__meta:not(:last-of-type) {
  margin-right: 21px;
}

.course-teaser__meta::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  font-size: 1rem;
  height: 2.4em;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.4em;
}

.course-teaser__meta.course-teaser__meta--emails::before {
  background-image: url('/assets/icons/email-with-letter.svg');
}

.course-teaser__meta.course-teaser__meta--hours::before {
  background-image: url('/assets/icons/clock.svg');
}

.course-teaser__meta.course-teaser__meta--videos::before {
  background-image: url('/assets/icons/video.svg');
}

.course-teaser__meta.course-teaser__meta--weeks::before {
  background-image: url('/assets/icons/calendar.svg');
}
