$_border-radius: (
  0:     0,
  xxs:   0.3rem,
  xs:    0.6rem,
  s:     0.9rem,
  m:     1.2rem,
  l:     1.8rem,
  xl:    2.4rem,
  xxl:   3.6rem,
  round: 50%,
);

$sizes: ('0', 'xxs', 'xs', 's', 'm', 'l', 'xl', 'xxl', 'round');

@mixin _border-radius($size) {
  border-radius: map-get($_border-radius, $size);
}

@mixin _border-top-right-radius($size) {
  border-top-right-radius: map-get($_border-radius, $size);
}

@mixin _border-bottom-right-radius($size) {
  border-bottom-right-radius: map-get($_border-radius, $size);
}

@mixin _border-bottom-left-radius($size) {
  border-bottom-left-radius: map-get($_border-radius, $size);
}

@mixin _border-top-left-radius($size) {
  border-top-left-radius: map-get($_border-radius, $size);
}

@each $size in $sizes {
  .border-radius-#{$size} {
    @include _border-radius($size);
  }
}

@each $size in $sizes {
  .border-top-right-radius-#{$size} {
    @include _border-top-right-radius($size);
  }
}

@each $size in $sizes {
  .border-bottom-right-radius-#{$size} {
    @include _border-bottom-right-radius($size);
  }
}

@each $size in $sizes {
  .border-bottom-left-radius-#{$size} {
    @include _border-bottom-left-radius($size);
  }
}
@each $size in $sizes {
  .border-top-left-radius-#{$size} {
    @include _border-top-right-radius($size);
  }
}
