$_total-columns: 12;

@mixin _columns($columns) {
  width: calc((100% - #{($_total-columns - 1)} * var(--grid-gutter)) / #{$_total-columns} * #{$columns} + #{($columns - 1)} * var(--grid-gutter));
}

@for $columns from 1 through $_total-columns {
  .columns-#{$columns} {
    @include _at-breakpoints {
      @include _columns($columns);
    }
  }
}
