@mixin _color($color, $shade: 0) {
  color: map-get(map-get($_colors, $color), $shade);
}

@each $color, $list in $_colors {
  @each $label, $value in $list {
    @if $label == 0 {
      .color-#{"" + $color} {
        color: $value;
      }

      .disabled\:color-#{"" + $color}:disabled {
        color: $value;
      }

      .visited\:color-#{"" + $color}:visited {
        color: $value;
      }
    } @else {
      .color-#{"" + $color}-#{$label} {
        color: $value;
      }

      .disabled\:color-#{"" + $color}-#{$label}:disabled {
        color: $value;
      }

      .visited\:color-#{"" + $color}-#{$label}:visited {
        color: $value;
      }
    }
  }
}
