$_total-columns: 12;

@mixin _columns($columns, $total_columns: $_total_columns) {
  width: calc((100% - #{($total-columns - 1)} * var(--grid-gutter)) / #{$total-columns} * #{$columns} + #{($columns - 1)} * var(--grid-gutter));
}

@for $columns from 1 through $_total-columns {
  .columns-#{$columns} {
    @include _at-breakpoints {
      @include _columns($columns);
    }
  }
}

@each $total_columns in (8, 10) {
  @for $columns from 1 through $total-columns {
    .columns-#{$columns}-of-#{$total_columns} {
      @include _at-breakpoints {
        @include _columns($columns, $total_columns);
      }
    }
  }
}
