.block {
  display: block;
}

.flex {
  @include _at-breakpoints {
    display: flex;
  }
}

.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}
