.align-items-center {
  align-items: center;
}

.align-items-start {
  @include _at-breakpoints {
    align-items: start;
  }
}

.flex-column {
  @include _at-breakpoints {
    flex-direction: column;
  }
}

.flex-column-reverse {
  @include _at-breakpoints {
    flex-direction: column-reverse;
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-none {
  flex: none;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.flex-row {
  @include _at-breakpoints {
    flex-direction: row;
  }
}

.flex-row-reverse {
  @include _at-breakpoints {
    flex-direction: row-reverse;
  }
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  @include _at-breakpoints {
    justify-content: space-between;
  }
}

.justify-center {
  justify-content: center;
}
