@mixin _monospace {
  font-family: source-code-pro, // 300, 300 italic
               monospace;
  -webkit-font-smoothing: auto;
}

.monospace {
  @include _monospace;
}

@mixin _sans-serif {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;

  font-feature-settings:
    "dlig" 0,
    "numr" 0,
    "dnom" 0,
    "tnum" 0,
    "case" 0,
    "zero" 0,
    "frac" 0,
    "sups" 0,
    "subs" 0,
    "cpsp" 0,
    "salt" 0,
    "ss01" 0,
    "ss02" 0,
    "ss03" 0,
    "cv01" 0,
    "cv02" 0,
    "cv03" 0,
    "cv04" 0,
    "cv05" 0,
    "cv06" 0,
    "cv07" 0,
    "cv08" 0,
    "cv09" 0,
    "cv10" 0,
    "cv11" 0,
    "calt",
    "liga",
    "kern";

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', Inter, sans-serif;
  }
}

.sans-serif {
  @include _sans-serif;
}
