$_font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900
);

@mixin _font-weight($weight) {
  font-weight: map-get($_font-weights, $weight);
}

@each $weight in weights {
  .font-weight-#{$weight} {
    @include _font-weight($weight);
  }
}
