$_height: (
  s:    1.2rem,
  m:    1.8rem,
  l:    2.4rem,
  full: 100%
);

@mixin _height($size) {
  height: map-get($_height, $size);
}

@each $size in (s, m, l, full) {
  .height-#{$size} {
    @include _height($size);
  }
}
