$_height: (
  0:    0,
  9:    0.9rem,
  12:   1.2rem,
  15:   1.5rem,
  24:   2.4rem,
  27:   2.7rem,
  60:   6rem,
  full: 100%
);

@mixin _height($size) {
  height: map-get($_height, $size);
}

@each $size in (0, 12, 15, 24, 27, 60, full) {
  .height-#{$size} {
    @include _at-breakpoints {
      @include _height($size);
    }
  }
}
