@mixin _intrinsic-ratio($width, $height) {
  height: 0;
  padding-bottom: ($height / $width) * 100%;
  position: relative;

  > * {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.intrinsic-ratio-4-by-3 {
  @include _intrinsic-ratio(4, 3);
}

.intrinsic-ratio-16-by-9 {
  @include _intrinsic-ratio(16, 9);
}

.intrinsic-ratio-16-by-10 {
  @include _intrinsic-ratio(16, 10);
}
