$_width: (
  0:    0,
  9:    0.9rem,
  12:   1.2rem,
  15:   1.5rem,
  24:   2.4rem,
  27:   2.7rem,
  120:  12.0rem,
  full: 100%
);

@mixin _width($size) {
  width: map-get($_width, $size);
}

@each $size in (0, 9, 12, 15, 24, 27, 120, full) {
  .width-#{$size} {
    @include _at-breakpoints {
      @include _width($size);
    }
  }
}
