:root {
  --content-horizontal-padding: 4%;
  --icon-grid-column-gap: 2vw;

  @include _xs {
    --content-horizontal-padding: 6%;
  }

  @include _s {
    --content-horizontal-padding: 8%;
  }

  @include _m {
    --content-horizontal-padding: 6%;
    --icon-grid-column-gap: 1.5vw;
  }

  @include _l {
    --content-horizontal-padding: 8%;
    --icon-grid-column-gap: 1vw;
  }

  @include _xl {
    --content-horizontal-padding: calc(50vw - 54em);
  }
}
