.template--post__content {
  li {
    @include body-copy;
    padding-left: 1.3rem;
    position: relative;

    &:not(:last-of-type) {
      @include _margin-bottom(xs);
    }

    &::before {
      @include _background-color(gray, 700);
      @include _block;
      @include _border-radius(round);

      content: '';
      height: 0.6rem;
      left: 0;
      position: absolute;
      top: 1rem;
      width: 0.6rem;

      @include _m {
        height: 0.7rem;
        width: 0.7rem;
        top: 1.1rem;
      }
    }

    @include _m {
      padding-left: 1.4rem;
    }
  }

  ul {
    @include _columns(10);
    @include _list-style(none);
    @include _margin-bottom(s);
    @include _margin-horizontal(auto);
    @include _margin-top(0);
    @include _padding(0);

    @include _m {
      @include _columns(8, 10);
    }

    @include _l {
      @include _columns(6, 8);
    }
  }
}
