$_colors: (
  yellow: (
    100: #FFFFEE,
    200: #FEFBB7,
    300: #F9ED7E,
    400: #F5DB54,
    500: #E9C242,
    600: #D09329,
    700: #AE6D1D,
    800: #8C4F16,
    900: #693A12
  ),
  orange: (
    100: #FFF9EE,
    200: #FEE8C1,
    300: #FBCD82,
    400: #F5A34B,
    500: #EA7D30,
    600: #D8601E,
    700: #B84C1E,
    800: #923A1E,
    900: #702D1C
  ),
  red: (
    100: #FFF3F4,
    200: #FED1D1,
    300: #FEA9A9,
    400: #FC7576,
    500: #F45A5A,
    600: #E13636,
    700: #BE2A2A,
    800: #902727,
    900: #692525
  ),
  pink: (
    100: #FFF3F6,
    200: #FED1DE,
    300: #FAADC7,
    400: #F57CAA,
    500: #EA599C,
    600: #CF3781,
    700: #AF2C75,
    800: #8C2262,
    900: #65204F
  ),
  purple: (
    100: #F9F3FF,
    200: #E6D2FD,
    300: #D0B4F9,
    400: #AE89F2,
    500: #946FE7,
    600: #7450CF,
    700: #603EB9,
    800: #4B358F,
    900: #3B2D6F
  ),
  indigo: (
    100: #E8F2FF,
    200: #BBD5FE,
    300: #99B7F9,
    400: #7392F3,
    500: #5B73E7,
    600: #4F5CD3,
    700: #4248B7,
    800: #3B3985,
    900: #343060
  ),
  blue: (
    100: #E8F7FF,
    200: #B6DFF7,
    300: #85C6F2,
    400: #58AAEA,
    500: #398FDD,
    600: #2B77C7,
    700: #2661A7,
    800: #274877,
    900: #253B5A
  ),
  cyan: (
    100: #E1FFF9,
    200: #A9F3E7,
    300: #76E2D4,
    400: #46CBBD,
    500: #31A9A2,
    600: #2B8C8A,
    700: #276F70,
    800: #245356,
    900: #204548
  ),
  green: (
    100: #EEFFF2,
    200: #BFF4CF,
    300: #8FE2AB,
    400: #5DCD86,
    500: #3FB26D,
    600: #31975E,
    700: #2A7A50,
    800: #235C40,
    900: #1F4A35
  ),
  gray: (
    100: #F6F9FC,
    200: #EAF0F6,
    300: #DEE5EE,
    400: #C4CFDC,
    500: #96A4B8,
    600: #66758B,
    700: #414B5D,
    800: #28303F,
    900: #191D27
  ),
  white: (
    0: #FEFEFE
  )
);
