.l-default__content {
  @include _m {
    margin: 0 auto;
    // width: _columns(10);
  }

  @include _l {
    // width: _columns(8);
  }
}

.l-default__main {
  @include responsive-container;

  flex: 1 0 auto;
  padding-bottom: 6em;
  padding-top: 4.8em;
  width: 100%;

  li {
    @include body-copy;

    margin: 0 0 0.1875em; /* 0 0 3px */

    @include _xs {
      margin-bottom: #{(6 / 18)}em;
    }

    @include _m {
      margin-bottom: 0.3em; /* 6px */
    }

    @include _l {
      margin-bottom: #{(6 / 22)}em;
    }
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  ol,
  ul {
    margin: 0 auto 1.5em;
    padding: 0;

    @include _xs {
      margin-bottom: 1.8em;
      width: _columns(10);
    }

    @include _m {
      margin-bottom: 2.1em;
      width: _columns(8, 10);
    }

    @include _l {
      margin-bottom: 2.4em;
      width: _columns(9);
    }
  }
}

.l-default__main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.l-default__footer {
  @include responsive-container;
  @include _background-color(gray, 200);
  flex: none;
}
