.l-course {}

.l-course__signup {
  margin-bottom: 4.8em;
}

.l-course__videos {
  display: grid;
  // @include grid-column-gap;
  grid-row-gap: 2.4em;
  grid-template-columns: 1fr;
  margin-bottom: 4.8em;

  @include _xs {
    grid-row-gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
  }

  @include _m {
    grid-row-gap: 2.1em;
    grid-template-columns: repeat(3, 1fr);
  }

  @include _l {
    grid-row-gap: 2.4em;
    // grid-template-columns: repeat(4, 1fr);
  }
}
