.l-newsletter {}

.l-newsletter li {
  list-style: none;
  margin-bottom: 0.9375em; /* 15px */
  padding-left: 1.875em; /* 30px */;
  position: relative;

  @include _xs {
    margin-bottom: 1.2rem;
    padding-left: 3.5rem;
  }

  @include _m {
    margin-bottom: 1.2rem;
    padding-left: 3rem;
  }

  @include _l {
    margin-bottom: 1.8rem;
    padding-left: 3.5rem;
  }
}

.l-newsletter li::before {
  background-image: url('/assets/icons/checkmark--filled.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2em;
  border: 2px solid;
  @include _border-color(blue, 500);
  border-radius: 50%;
  content: '';
  display: block;
  font-size: 1rem;
  height: 2.4em;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.4em;

  @include _xs {
    background-size: 1.5em;
    height: 2.7em;
    width: 2.7em;
  }

  @include _m {
    background-size: 1.2em;
    height: 2.4em;
    top: 0.3em;
    width: 2.4em;
  }

  @include _l {
    background-size: 1.5em;
    height: 2.7em;
    width: 2.7em;
  }
}
