.l-post__content {
  margin-bottom: 4.8em;
  overflow-wrap: break-word;
}

.l-post__hero {
  margin: 0 auto 2.4em;
  width: 100%;

  @include _s {
    margin-bottom: 2.4em;
    margin-top: 0;
  }

  @include _m {
    width: 100%;
  }

  @include _l {
    margin-bottom: 2.4em;
    margin-top: 0;
    width: 100%;
  }
}

.l-post__meta {
  margin-bottom: 1.8em;
}

.l-post__tag {
  margin: 0 0.5em 0.6em 0;
}

.l-post__tagged {
  display: flex;
}

.l-post__tagged-label {
  @include _color(gray, 700);
  @include _font-size(12, medium);
  margin: 0 0.5em 0.5em 0; /* 0 6px 6px 0 */
  padding: 0.5em 0; /* 3px 0 */
}

.l-post__tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.8em;
}
