<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt }}">{% endif %}

    {% include rich-preview.html %}
    {% include favicons.html %}

    <title>{{ page.title | replace_regexp: ':[a-z_]*?:', '' | strip }} · {{ site.name }}</title>

    <link rel="stylesheet" href="/style.css?{{ site.time | date: '%s' }}">
  </head>

  <body>
  </body>
</html>
