---
layout: default
---
{% capture hero %}
  <figure class="l-post__hero">
    <img alt="{{ page.heroAlt }}" src="/assets/heroes/{{ page.title | slugify }}.jpg">

    {% if page.heroCaption %}
      <figcaption>
        {{ page.heroCaption }}
      </figcaption>
    {% endif %}
  </figure>
{% endcapture %}

<div class="l-post__meta">
  {% include post-meta.html date=page.date %}
</div>

{% include breakout.html content=hero %}

<div class="l-post__content">
  {{ content }}
</div>

<div class="l-post__tagged">
  <p class="l-post__tagged-label">
    Tags:
  </p>

  <div class="l-post__tags">
    {% for category in page.categories %}
      <div class="l-post__tag">
        {% include tag.html tag=category %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="l-post__mailing-list-signup">
  {% include mailing-list-signup.html %}
</div>
